.jumbo-modifi{
    background-color: #222;
}
.bg-meu{
    background-color: #222;
}

.linha-cor{
    background-color: #124AFF;
}
.fonte-cor{
    color: #2BFF59;
    
}

.imagem-jumbo{
    background-image: url(../img/progamador.jpg);
}